* {
    box-sizing: border-box;
}

.barra {
    background: #104958;
    font-family: 'Yellowtail', cursive;
}

.logo {
    width: 20%;
}

.logo a img {
    width: 50px;
    height: auto;
}


/*Iconos nosotros*/

@media (min-width: 768px) {
    .iconos-nosotros {
        display: flex;
        justify-content: space-between;
    }
}

.icono2 {
    text-align: center;
}

.icono3 {
    text-align: right;
}

@media (min-width: 768px) {
    .icono {
        flex-basis: calc(33.3% - 1rem);
    }
}

.icono h3 {
    text-transform: uppercase;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}

.contenido-centrado {
    max-width: 80rem;
}